@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #0248df, #416fd2);
  padding: 30px;
}

.jumbotron h1 {
  color: #fff;
}

.jumbotron .form {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.jumbotron .form input {
  border: none;
  padding: 5px;
  width: 350px;
}

.jumbotron .form .btn-submit {
  border: none;
  background-color: #ff9900;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 500px;
  display: flex;
  flex-direction: row;
  border: 1px solid #cccccc;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15px;
}

.text {
  flex: 3;
}

.button-action {
  flex: 1;
}

.btn-edit,
.btn-delete {
  border: none;
  background-color: #ff9900;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  margin: 2px;
}

.btn-delete {
  background-color: #bf2828;
}
